.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background-color: #f8f8f8;
  padding-top: 20px;
  overflow-y: auto;
}

.row.content {
  margin-left: 26%;
}

@media screen and (max-width: 767px) {
  .sidenav {
    position: relative;
    width: 100%;
    height: auto;
  }
  .row.content {
    margin-left: 0;
  }
}